In [2]:
import pandas as pd
from selenium import webdriver
import time as t
from bs4 import BeautifulSoup
import numpy as np
import scrapy as sp
import requests

In [2]:
url = 'http://br.advfn.com/bolsa-de-valores/bovespa/vale-on-VALE3/historico/mais-dados-histprocos'
url2 = 'http://br.advfn.com/bolsa-de-valores/bovespa/vale-on-VALE3/historico/mais-dados-historicos?current=13&Date1=28/01/19&Date2=28/04/22'
url3 = 'http://br.advfn.com/bolsa-de-valores/bovespa/vale-on-VALE3/historico/mais-dados-historicos?current=0&Date1=28/01/19&Date2=28/04/22'

In [ ]:
browser = webdriver.Chrome()
browser.get(url2)
t.sleep(3)
html = browser.page_source
browser.close()
bs = BeautifulSoup(html, 'html.parser')
linhas = bs.find_all('tr', attrs={'class':'result'})
print(linhas)

In [ ]:
i = 0 
data = []
while i < len(linhas):
    data.append(linhas[i])
    i+=1

In [ ]:
j = 0
datanew = []
while j < len(data):
    datanew.append(data[j].split('\n'))
    j+=1

In [ ]:
# titulo de curiosidade
for k in range(len(datanew)-1):
    for i in range(len(datanew[k])-1):
        print(datanew[k][i])

In [ ]:
len(datanew[0])

In [ ]:
print(data[1].split('\n'))

In [ ]:
datanew[3][1]
datanew[2][1]

In [ ]:
l = 1
dias, fechamento, variacao, variacao_p, abertura, maxima, minima, volume = [], [], [],[], [], [], [], []

In [ ]:
while l < len(datanew):
    dias.append(datanew[l][1])
    fechamento.append(datanew[l][1])
    variacao.append(datanew[l][1])
    variacao_p.append(datanew[l][1])
    abertura.append(datanew[l][1])
    maxima.append(datanew[l][1])
    minima.append(datanew[l][1])
    volume.append(datanew[l][1])
    l +=1

In [ ]:
df = pd.DataFrame(
    {
        'Data': dias,
        'Fechamento': fechamento,
        'Variacao': variacao,
        'Variacao_%': variacao_p,
        'Abertura': abertura,
        'Maxima': maxima,
        'Minima': minima,
        'Volume': volume
    }
)

In [ ]:
df

In [3]:
df = pd.read_csv('dados_dab3_Car_do_dia.csv', index_col=0)
df

,Setor,Acao,Empresa,Qntd_teorica,Part_%,SubSetor,Part_%_acum
0,Mats Básicos,VALE3,VALE,3843570705,16.292,Mineração,16.292
1,"Petróleo, Gás e Biocombustívei",PETR4,PETROBRAS,4566442248,6.572,"Petróleo, Gás e Biocombustíveis",22.864
2,Financ e Outros,ITUB4,ITAUUNIBANCO,4780002924,5.793,Interms Financs,28.657
3,Financ e Outros,BBDC4,BRADESCO,4691427537,4.627,Interms Financs,33.284
4,"Petróleo, Gás e Biocombustívei",PETR3,PETROBRAS,2703343822,4.324,"Petróleo, Gás e Biocombustíveis",37.608
...,...,...,...,...,...,...,...
86,Bens Indls,ECOR3,ECORODOVIAS,339237914,0.118,Transporte,99.753
87,Consumo Cíclico,JHSF3,JHSF PART,305915142,0.087,Constr Civil,99.840
88,Consumo Cíclico,EZTC3,EZTEC,101618236,0.078,Constr Civil,99.918
89,Tec.Informação,CASH3,MELIUZ,548153725,0.052,Programas Servs,99.970
90,Comput e Equip,POSI3,POSITIVO TEC,78053723,0.030,Comput e Equips,100.000

In [4]:
df = df[['Acao', 'Empresa']]
df

     Acao       Empresa
0   VALE3          VALE
1   PETR4     PETROBRAS
2   ITUB4  ITAUUNIBANCO
3   BBDC4      BRADESCO
4   PETR3     PETROBRAS
..    ...           ...
86  ECOR3   ECORODOVIAS
87  JHSF3     JHSF PART
88  EZTC3         EZTEC
89  CASH3        MELIUZ
90  POSI3  POSITIVO TEC

[91 rows x 2 columns]

In [5]:
df = df.to_csv('acoes_e_empresa.csv')

In [7]:
acao = 'ITUB4'

In [8]:
acao[-1]

'4'

In [10]:
for i in range(21,-1,-1):
    print(i)

21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [14]:
empresa = 'VALE                  '
print(empresa.strip().lower().replace(' ', '-'))

vale