In [ ]:
import pandas as pd 
import numpy as np
import datetime as dt
from varname import nameof
import time

In [ ]:
lista_ab = ['ab', 'bruno', 'PETR3', 123]

In [ ]:
with open(f'{str(lista_ab)}.csv', 'w') as temp_file:
    for i in lista_ab:
        temp_file.write("%s\n" % i)

In [ ]:
for i in range(len(lista_ab)):
    print(f'{lista_ab[i]}.csv')

In [ ]:
file = open('lista_test.csv', 'r')
print(file)

In [ ]:
data = dt.datetime.now()

In [ ]:
data

In [ ]:
dia = data.day
mes = data.month
ano = data.year
horas = data.hour
minutos = data.minute

In [ ]:
horas

In [ ]:
print(f'{dia}-{mes}-{ano}')

In [ ]:
type(minutos)

In [ ]:
i = 0
while i < 10:
    
    a = dt.datetime.now().second
    time.sleep(3)
    df = pd.DataFrame(file)
    df.to_csv(f'lista_test-{a}.csv')
    
    i+=1

In [ ]:
nameof(lista_ab)

In [20]:
df1 = pd.read_csv('lista_test-0.csv',index_col=0, delimiter=',')

In [11]:
col = df1['0'][0].split(',')

In [12]:
col

['Data',
 'Fechamento',
 'Variacao',
 'Variacao_%',
 'Abertura',
 'Maxima',
 'Minima\n']

In [21]:
df1

                                                   0
0  Data,Fechamento,Variacao,Variacao_%,Abertura,M...
1       2019-07-24,34.35,0.0,0.0,34.49,34.74,34.03\n
2     2019-07-25,33.95,-0.4,-1.16,34.21,34.7,33.27\n
3     2019-07-26,35.14,1.19,3.51,33.97,35.38,33.59\n
4      2019-07-29,34.8,-0.34,-0.97,34.99,34.99,34.28